.admin-container {
  margin: 56px 0 0 0;
  width: 100%;

}
.admin-form {
  display: flex;
  flex-direction: column;
}
.admin-button {
  min-width: 100px;
  max-width: 200px;
  justify-self: right;
}
.card{
  width:80%;
  align-content: center;
}

.card-title {
    text-align:right;
  }
  
  #card-buttons {
    float: right;
    margin:auto;
  }

  .card-body-inner{
    width:149%;
    margin: auto;
    padding: 10px;
  }

  .figure {
    text-align:center;
  }