{% extends 'base.html' %}

{%block title%}
    <title>Admin</title>
    <link rel="stylesheet" href="/static/css/admin.css">
{%endblock%}

{% block content %}
<div class="container admin-containe">
    
    <form action="/admin/{{code}}" class="form admin-form" method="POST">
        <button type="submit" class="btn btn-success admin-button">Submit</button>
        <div class="admin-messages">
            {% for msg in messages %}
                <div class="card text-white bg-info" >
                    <div class="bg-dark admin-inner">
                        <div class="card-body" id="card-body-{{loop.index}}">
                            <!-- <h5 class="card-title">{{msg.ts}} Hours Ago</h5> -->
                            <p class="card-text">{{msg.body}}</p>      
                            <div class="form-check-inline" id="card-buttons">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="opt-{{loop.index - 1}}" value="approved" {% if msg['approved']%} checked {% endif %}>Approved
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="opt-{{loop.index - 1}}" value="denied" {% if msg['denied']%} checked {% endif %}>Deny
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </form>
</div>
{%endblock%}