{%block title%}
    <link rel="stylesheet" href="/static/css/team.css">
    
{%endblock%}
{% block content %}
<div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase text-white">Our Amazing Team</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="team-member">
                <div data-aos="fade-up" data-aos-duration="1500">
              <img class="mx-auto rounded-circle" src="/static/img/team/logo-blue.png" alt="">
              <h4 class="text-white">Shashwat Prajjwal</h4>
              <p class="text-white">Project Manager, API Implementation Lead</p>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="https://github.com/sprajjwal"
                  target="_blank">
                    <i class="fab fa-github"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.linkedin.com/in/shashwat-prajjwal-309339108/"
                  target="_blank">
                    <i class="fab fa-linkedin-in"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://github.com/sprajjwal"
                    target="_blank">
                      <i class="fas fa-id-card"></i>
                    </a>
                  </li>
              </ul>
            </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="team-member">
                <div data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300">
              <img class="mx-auto rounded-circle" src="/static/img/team/logo-green.png" alt="">
              <h4 class="text-white">Padyn Riddell</h4>
              <p class="text-white">Backend Lead</p>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="https://github.com/squeaky1273"
                  target="_blank">
                    <i class="fab fa-github"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.linkedin.com/in/padyn-riddell-94473b18a/"
                  target="_blank">
                    <i class="fab fa-linkedin-in"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.makeschool.com/portfolio/Padyn-Riddell"
                  target="_blank">
                      <i class="fas fa-id-card"></i>
                    </a>
                  </li>
              </ul>
            </div>
          </div>
        </div>
          <div class="col-sm-3">
            <div class="team-member">
              <div data-aos="fade-up" data-aos-duration="1500" data-aos-delay="600">
              <img class="mx-auto rounded-circle" src="/static/img/team/logo-red.png" alt="">
              <h4 class="text-white">Franklin Phan</h4>
              <p class="text-white">Frontend, Design Lead</p>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="https://github.com/franklin-phan"
                  target="_blank">
                    <i class="fab fa-github"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.linkedin.com/in/franklin-phan-a9b7a0166/"
                  target="_blank">
                    <i class="fab fa-linkedin-in"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.makeschool.com/portfolio/Franklin-Phan"
                    target="_blank">
                      <i class="fas fa-id-card"></i>
                    </a>
                  </li>
              </ul>
            </div>
          </div>
          </div>
          <div class="col-sm-3">
            <div class="team-member">
                <div data-aos="fade-up" data-aos-duration="1500" data-aos-delay="900">
              <img class="mx-auto rounded-circle" src="/static/img/team/logo-yellow.png" alt="">
              <h4 class="text-white">Xing Ye</h4>
              <p class="text-white">Frontend Lead</p>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="https://github.com/xingY97"
                  target="_blank">
                    <i class="fab fa-github"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.linkedin.com/in/xing-ye-03aba818b/"
                  target="_blank">
                    <i class="fab fa-linkedin-in"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.makeschool.com/portfolio/Xing-Ye"
                  target="_blank">
                    <i class="fas fa-id-card"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        </div>
        </div>
      </div>
       </div>
{%endblock%}

{%block scrip
{% endblock %}